*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --colortext-naglowki: rgba(33, 33, 33, 1);
  --colortext-opisy: rgba(117, 117, 117, 1);
  --backgroundcolor-dark: rgba(47, 48, 58, 1);
  --maincolor-blue: rgba(33, 150, 243, 1);
  --buttoncolor: rgba(33, 150, 243, 1);
  --buttonportfolio: rgba(245, 244, 250, 1);
  --colormainblack: rgba(0, 0, 0, 0);
  --shadowcolor: rgba(0, 0, 0, 0.12);
  --coloradress-footer: rgba(245, 244, 250, 1);
  --colorcontact-footer: rgba(255, 255, 255, 0.6);
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white {
  color: white;
}

.blue {
  color: var(--maincolor-blue);
}

.container {
  width: 1200px;
}
.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 25px;
}
.webstudio {
  display: flex;
  justify-content: left;
}
.menu {
  display: flex;
  margin-top: 32px;
  justify-content: flex-start;
  margin-left: 93px;
}
.contact-menu {
  display: flex;
  margin-top: 26px;
  margin-bottom: 32px;
}

.main-menu {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 0, 875;
  letter-spacing: 0.02em;
  margin-left: 46px;
}

.main-menu-selected::after {
  display: block;
  content: "";
  width: 53px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--maincolor-blue);
  margin-top: 30px;
}

.main-menu:hover {
  color: var(--maincolor-blue);
}

.logo-menu {
  display: flex;
  flex-direction: row;
}
.contact {
  display: inline-flex;
  align-items: center;
  height: 24px;
  color: var(--colortext-opisy);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 0, 875;
  letter-spacing: 0.02em;
}
.smartphone {
  margin-right: 10px;
  fill: #757575;
}

.contact:hover {
  color: var(--maincolor-blue);
  text-decoration: none;
}
.contact:hover .smartphone,
.contact:hover .envelope {
  fill: var(--maincolor-blue);
  cursor: pointer;
}

.contact-menu {
  display: flex;
  align-items: center;
}
.envelope {
  margin-right: 10px;
  margin-left: 30px;
  fill: #757575;
}
.envelope:hover {
  fill: var(--maincolor-blue);
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(117, 117, 117, 1);
}
.slider {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Imgteam.jpg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  justify-content: center;
  width: 1600px;
}
.slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}
.main-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 0, 73;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.main-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 0, 85;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--colortext-naglowki);
  margin: 0px;
  padding-bottom: 50px;
}
.main-button {
  width: 200px;
  height: 50px;

  background: var(--maincolor-blue);
  box-shadow: 0px 4px 4px var(--shadowcolor);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 0, 53;
  color: white;

  display: block;
  justify-content: center;
  margin: 0px;
}
.icon-antena {
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 25px;
}
.icon-clock {
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 25px;
}
.icon-diagram {
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 25px;
}
.icon-astronauta {
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 25px;
}
.lorem-ipsum {
  font-weight: 700;
  font-size: 14px;
  line-height: 0, 87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--colortext-naglowki);
  padding-top: 30px;
}
.lorem-ipsum-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 0, 58;
  /* or 171% */

  letter-spacing: 0.03em;
}

.columns-text {
  display: flex;
  list-style: none;
  padding: 0px;
  gap: 30px;
  padding-bottom: 94px;
  padding-top: 94px;
}

.activity-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin-bottom: 94px;
  margin-top: 0px;
}
.activity {
  position: relative;
  height: 294px;
}
.label {
  position: absolute;
  bottom: 0px;
  margin: 0px;

  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: white;

  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding: 27px;
}
.h2-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 0, 85;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--colortext-naglowki);
  margin: 0px;
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-section {
  background-color: rgba(245, 244, 250, 1);
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.figure {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 0, 84;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--colortext-naglowki);
  text-align: center;
}
.team-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 0, 84;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--colortext-opisy);
  text-align: center;
}

/* TEAM SOCIAL ICONS */
.team-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 34px;
  padding-top: 18px;
  fill: rgba(175, 177, 184, 1);
}
.team-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.team-social-icon:hover {
  fill: white;
  cursor: pointer;
  background-color: var(--maincolor-blue);
}

/* FOOTER SOCIAL ICONS */
.footer-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 34px;
  padding-top: 18px;
}
.footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-social-icon:hover {
  fill: white;
  cursor: pointer;
  background-color: var(--maincolor-blue);
}

ul.social-footer {
  list-style: none;
  color: white;
}

ul.social-footer .social-footer-title {
  text-transform: uppercase;
  font-weight: bold;
}

.our-clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 94px;
}
.icon-client {
  display: flex;
  border: rgba(175, 177, 184, 1) solid 1px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: rgba(175, 177, 184, 1);
}
.icon-client:hover {
  fill: var(--maincolor-blue);
  cursor: pointer;
  border: var(--maincolor-blue) solid 1px;
}

.button1 {
  /* position: absolute;
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px; */

  background: var(--buttonportfolio);
  border: none;
  color: black;
  width: 121px;
  height: 38px;
  border-radius: 4px;
  list-style: none;
}
.button1:hover {
  background-color: var(--maincolor-blue);
  color: white;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  width: 121px;
  height: 38px;
  border-radius: 4px;
  list-style: none;
}
.buttons-portfolio {
  display: flex;
  gap: 9px;
  list-style: none;
  justify-content: center;
  padding: 0px;
  padding-bottom: 50px;
  padding-top: 126px;
}
.projects-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.projects-img {
  vertical-align: middle;
}
.projects-figure {
  margin: 0;
}
.portfolio-figure {
  margin: 0;
  margin-bottom: 30px;
}
.portfolio-figure:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-figcaption {
  border: 1px solid;
  border-color: rgba(238, 238, 238, 1);
  margin: 0px;
}

.projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 0, 5;
  color: var(--colortext-naglowki);

  letter-spacing: 0.06em;
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
}

.type-projects {
  font-weight: 400;
  font-size: 16px;
  line-height: 0, 53;
  /* identical to box height, or 188% */
  color: var(--colortext-opisy);

  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-top: 5px;
}
.img {
  position: relative;
  overflow: hidden;
}
.box-content-portfolio {
  position: absolute;
  width: 370px;
  height: 294px;
  margin: 0px;
  top: 0%;
  left: 0%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(+100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: white;
  padding-left: 24px;
  padding-top: 49px;
  padding-right: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  
  
  
  
}
.portfolio-figure:hover .box-content-portfolio {
  transform: translateY(0);
}

footer {
  display: flex;
  background-color: var(--backgroundcolor-dark);
  width: 100%;
  justify-content: center;
  flex-direction: row;
}
.flex-footer {
  display: flex;
  flex-direction: column;
}
.inner-footer {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 50px;
}
.logo-footer {
  padding-bottom: 20px;
}
.logo-footer-link {
  /* padding-top: 60px; */
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 0, 58;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--coloradress-footer);
  padding-bottom: 9px;
  font-style: normal;
}
.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 0, 58;
  /* or 171% */

  display: inline-block;
  letter-spacing: 0.03em;
  color: var(--colorcontact-footer);
  padding-bottom: 9px;
}
.contact-footer:hover {
  color: var(--maincolor-blue);
  text-decoration: none;
}
.contact-footer-mail {
  padding-bottom: 51px;
}
.social-footer {
  padding-left: 70px;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 528px;
  min-height: 581px;
  background-color: white;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity:0;
  visibility: hidden;
  pointer-events: none;
}