.columnstext__icon {
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 25px;
}

.columnstext__loremipsum {
  font-weight: 700;
  font-size: 14px;
  line-height: 0, 87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--colortext-naglowki);
  padding-top: 30px;
}
.columnstext__loremipsumtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 0, 58;
  /* or 171% */

  letter-spacing: 0.03em;
}

.columnstext {
  display: flex;
  list-style: none;
  // padding: 0px;
  gap: 30px;
  padding-bottom: 94px;
  padding-top: 94px;

  padding-inline-start: 0px;
}


@media (min-width: 768px) and (max-width: 1199px)  {
  .columnstext {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
  }
  .columnstext__loremipsum {
    text-align: left;
  }
  .columnstext__responsive {
    width: 49%;
  }
}


@media (max-width: 767px) {
  .columnstext {
    flex-direction: column;
    gap: 0px;
  }
  .columnstext__loremipsum {
    text-align: center;
  }
}