.h2-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 0, 85;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--colortext-naglowki);
  margin: 0px;
  padding-top: 94px;
  padding-bottom: 50px;
}

.clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 94px;
}
.client__icon {
  display: flex;
  border: rgba(175, 177, 184, 1) solid 1px;
  border-radius: 4px;
  padding: 16px 32px;
  fill: rgba(175, 177, 184, 1);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--maincolor-blue);
    cursor: pointer;
    border: var(--maincolor-blue) solid 1px;
  }
}


@media (max-width: 1199px) {
  .clients {
    flex-wrap: wrap;
    justify-content: inherit;
    padding-bottom: 94px;
    gap: 15px;
  }
  .client__icon {
    width: calc((100% - 30px)/3);
    justify-content: center;
  }
}
@media (max-width: 767px) {
  // .clients {
  // }
  .client__icon {
    width: calc((100% - 15px)/2);
    justify-content: center;
  }
}